 
/* Base */
 
.addiconcal {   bottom:10px; right:30px}
.addtocalendar var{
    display: none;
}

.addtocalendar {
    position: relative;
    display: inline-block;
    background: transparent!important;
}

.atcb-link {
    display: block;
    outline: none!important;
    cursor: pointer; color: #fff;  
}
a.atcb-link:hover {
    color: #fff;  
}
.atcb-link:focus~ul,
.atcb-link:active~ul,
.atcb-list:hover{
    visibility:visible;
}

.atcb-list {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    width: 170px;
    z-index: 900;
}

.atcb-list,
.atcb-item
{
    list-style: none;
    margin: 0;
    padding: 0;
    background: #fff;
}

.atcb-item {
    float: none;
    text-align: left;
}

.atcb-item-link
{
    text-decoration: none;
    outline: none;
    display: block;
}

.atcb-item.hover,
.atcb-item:hover {
    position: relative;
    z-index: 900;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}


/* Icon */

.atc-style-button-icon .atcb-link,
.atc-style-button-icon .atcb-link:hover,
.atc-style-button-icon .atcb-link:active,
.atc-style-button-icon .atcb-link:focus
{
    text-decoration: none;
    outline: none;
    padding: 2px 2px;
}