
@media (min-width: 320px) and (max-width: 780px) {

#tempoWeather {
display:none }
span.btn-more { text-align: left}
ul.list-unstyled > li {  padding-left: 20px }
}

/* tooltip*/
#tooltip
{
text-align: center;
color: #fff;
background: #122632;
position: absolute;
z-index: 100;
padding: 15px; font-size: 14px
}

#tooltip:after /* triangle decoration */
{
width: 0;
height: 0;
border-left: 10px solid transparent;
border-right: 10px solid transparent;
border-top: 10px solid #122632;
content: '';
position: absolute;
left: 50%;
bottom: -10px;
margin-left: -10px;
}

#tooltip.top:after
{
border-top-color: transparent;
border-bottom: 10px solid #122632;
top: -20px;
bottom: auto;
}

#tooltip.left:after
{
left: 10px;
margin: 0;
}

#tooltip.right:after
{
right: 10px;
left: auto;
margin: 0;
}


.masfechas { font-size: 12px !important; color: #000 !important; display: block;   padding-right: 20px; padding-left:  20px;}



#mterm { display: none}
ul #mterm { margin-left: -15px; font-size: 14px; line-height: 18px }
.colfilter { margin-left: -20px }
a.bloq { display:block;  }
a.bloq:active { display:block }
a.bloq:visited { display:block }
.list-op > li { list-style-type: none}
 .list-op > li > label > input { width: 30px !important; margin-left: -28px !important }
/* cookies*/


#barraaceptacion {
	display:none;
	position:fixed;
	left:0px;
	right:0px;
	bottom:0px;
	padding-bottom: 20px;
	width:100%;
	text-align:center;
	min-height: 95px;
	background-color: rgba(0, 0, 0, 0.8);
	color:#fff;
	z-index:99999;
	margin-bottom: 0px;
}

.inner {
	width:100%;
	position:absolute;
	padding-left:5px;
	font-family:verdana;
	font-size:12px;
	top:30%;
	/* padding-bottom: 14px; */
	margin-top: -10px;
}


.inner a.Aceptar {padding:4px;color:#72c02c !important;text-decoration:none; font-weight: bold}
/* */


.pub1 { margin-left: -10px; padding-left: 0px }
.pub2 { margin-right: 0px; padding-right: 0px; margin-left: -5px }
.pub1 > .boxbg { padding-top: 14px; padding-bottom: 14px }
.pub2 > .boxbg { padding-top: 14px; padding-bottom: 15px }

.p20 { padding: 20px; padding-bottom: 20px; width: 96%  }
.p20 img { width: 40%; margin: 0 auto; padding: 5px;  border: 1px solid #ccc; padding-top: 20px; padding-bottom: 20px; background: #FFF}
.imgarr {
		  }

.fsml {  margin-left: 0px; padding-left: 0px   }
.fsmr {  margin-right: 0px; padding-right: 0px   }
 .fsmc   {         padding-right: 7px;
    padding-left: 7px;  }
.infofile { color: #FFF; font-size: 0.8em;   }
h3.tp {   padding-bottom: 5px; margin-bottom: 0px; padding-left: 20px; padding-top: 5px; overflow-y:hidden; height: 35px; width: 96%; font-size: 16px}
.tp { padding: 5px; font-size: 20px; padding-left: 10px; opacity: 0.9
     }

	 .cp {  color: #084D6E }
	 .f20 {    padding-bottom: 60px; padding-top: 20px; background: #E0E7EA; border: 1px solid #ccc;     }
	 .fil2 { border-right: 20px solid #f4f4f4; border-top: 20px solid #f4f4f4; }
	 .fil2t { border-top: 20px solid #f4f4f4;   }
	 .fil2r { border-right: 20px solid #f4f4f4;;   }
	 .f20 img { width: 100px !important;    margin-left: auto;
    margin-right: auto;
    display: block; border: 1px solid #ccc !important; padding: 2px}




.imgarr:after {
    content: "";
    position: absolute;
    top: 40px;
    left: 50%;
    border-top: 8px solid #3498db;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    margin-left: -8px;
}
	 .desb { background: #FFF; padding: 5px; overflow:auto; border: 1px solid #FFF; padding-top: 10px !important; padding-left: 25px !important; padding-bottom: 10px }

 .folleto img { padding-top: 15px; padding-bottom: 15px; border: 1px solid #ccc; padding-right: 5px; padding-left: 5px}
 .folleto { text-align: left;   padding-left: 0px; padding-right: 0px }
 .ftop { padding-top: 10px }
 .cf {    padding-top: 10px !important; padding-left: 5px}

 .nav-stacked a { font-weight: bold }
 .mcub { margin-left: 0px; padding-left: 0px; margin-bottom: 5px;}
 .mcubd { margin-right: 0px; padding-right: 0px; margin-bottom: 5px;}

a.accordion-toggle { text-decoration: none }
a.accordion-toggle img { padding-right: 10px }

 .cbp-caption-overlayBottomPush .cbp-caption-activeWrap {
  bottom: -60px;
   height: 60px;
   bottom: -80px;
   height: 80px;
 }


.news-v3 > p  { text-align: justify  }
/* Landings QO */
a.cbp-caption .nautica {
  height: 25% !important; bottom: 0px !important
}

a.cbp-caption:hover .nautica {
 height:100% !important; top: 100% !important
}

a.cbp-caption .cultura {
  height: 25% !important; bottom: 0px !important
}

a.cbp-caption:hover .cultura {
 height:100% !important; top: 100% !important
}

a.cbp-caption .deporte {
  height: 25% !important; bottom: 0px !important
}

a.cbp-caption:hover .deporte {
 height:100% !important; top: 100% !important
}

a.cbp-caption .natura {
  height: 25% !important; bottom: 0px !important
}

a.cbp-caption:hover .natura {
 height:100% !important; top: 100% !important
}

a.cbp-caption .salud {
  height: 25% !important; bottom: 0px !important
}

a.cbp-caption:hover .salud {
 height:100% !important; top: 100% !important
}
a.cbp-caption .gastronomia {
  height: 25% !important; bottom: 0px !important
}

a.cbp-caption:hover .gastronomia {
 height:100% !important; top: 100% !important
}

a.cbp-caption .publi {
  height: 25% !important; bottom: 0px !important; font-size: 20px
}

a.cbp-caption:hover .publi {
 height:100% !important; top: 100% !important
}







/* segmentos */
  .cbp-caption-overlayBottomAlong .cbp-caption-activeWrap {
     height: 100% !important;
}

.cbp-caption-activeWrap {

	background-color: rgba(40, 39, 39, 0.80);
}

.nautica {

	background-color: rgba(52, 152, 219, 0.80) !important;
}
.cultura {

	background-color: rgba(241, 196, 15, 0.80) !important;
}
.gastronomia {

	background-color: rgba(231, 76, 60, 0.80) !important;
}
 .deporte {

	background-color: rgba(230, 126, 34, 0.80) !important;
}

  .natura{

	background-color: rgba(114, 192, 44, 0.80) !important;
}

  .salud {

	background-color: rgba(255, 96, 201, 0.80) !important;
}

.publi {

	background-color: rgba(8, 77, 110, 0.80) !important;
}


 .ts5 { font-size: 1.3em !important }
 .ts6 { font-size: 14px !important; line-height: 16px !important  }
 .ps6 { padding-left: 20px; padding-right: 20px }
 .widgetime {     }

/* legal news */
.modal-title { padding-left: 18px }
.legal { font-size: 0.8em; text-align: justify !important; margin-right: 15px; margin-left: 15px }
input.form-control, select.form-control { font-weight:100 }
.modal-body p { text-align: left }
.checkl { font-weight:100; padding-left: 15px; font-size: 0.8em; }
label.form-control { font-size: 0.9em; border: none; padding-left: 0px; padding-bottom:0px; height: 25px; color:#000}
.modal-header { background: #72c02c; border-bottom: none; }
.modal-title { color:#fff  }

.modal-header .close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-shadow: 0 0px 0 #fff;
    filter: alpha(opacity=100);
    opacity: .9; margin-top:3px; padding-right: 18px
}
.modal-footer   span { margin-right: 20px }


.tp-span-wrapper { border: 1px solid #ccc; height: 523px !important; background:#f3f3f3 !important }
.cg { min-height: 80px; display: block; clear:both; padding-top: 10px;   }
option.cglabel { font-weight: bold   }
.crt {  clear: both; display:block }
.crt > button.btn-u { margin-left: 8px; margin-bottom: 10px}
.cr {  position: absolute; right: 0px; padding: 5px; padding-right: 10px}

.alignleft { text-align: left }

/*.boxre { border-top: 1px solid #ccc; background: #fff; padding-top: 40px; padding-bottom: 10px;    min-height: 140px; padding-bottom: 20px; margin-bottom: -20px;}*/
.boxbg { border: 1px solid #ccc; background: #fff; padding-top: 10px; padding-bottom: 10px; margin-bottom: 15px; margin-left: 15px; /*min-height: 140px*/}
h3.tlist { font-size: 1em; font-weight: bold; line-height: 1.1em; padding-top: 7px;}
.sptl {float: left; width: 70%; }
.news-v3 {   line-height: 1.3;  }

.col2sm { margin-left: -15px; padding-right: 20px;   }
.numlist { font-size: 1.4em; border-right: 1px solid #ccc; padding-right: 10px; margin-right: 14px; float:left;   }
.margin-left-60 { margin-left: 50px; text-align: justify;   }


.txtalign h3 { text-align: justify  }
.txtalign h4 { text-align: justify  }
.txtalign  p { text-align: justify  }
.btn-default {   border-radius: 8px  }


.cbp-l-caption-desc { text-transform: uppercase }
.cbp-filter-item { text-transform: uppercase }


.news-v3 a { color: #000 }
.padding-right-40 { padding-right: 40px }
.margin-left-40 { margin-left: 40px }
.title-v5 { color: #000; margin-bottom: 20px; font-size: 18px; font-weight: bold }

/* Recomendaciones */
.owl-carousel .owl-controls .owl-buttons .owl-prev { float: left; top: -200px; position: relative; left: -50px; width: 50px; line-height: 50px; }

.owl-carousel .owl-controls .owl-buttons .owl-next {  float:right; top: -200px; position: relative; right: -60px;  width: 50px; line-height: 50px }

/* carga iframe */
.offscreen {
    position: absolute;
    left: -5000px;
}

.wrapper {   margin-top: -10px !important}
.navbar-brand {
    padding-right: 0px;
}
/* icons */
.icsz { font-size: 16px; padding-right: 0.3em }


/* Add here all your css styles (customizations) */


#rev_slider_104_1_forcefullwidth .rev_slider_wrapper{
	position:relative;
	z-index: 0;   height: 500px !important;
}

#rev_slider_104_1_forcefullwidth .tp-fullwidth-forcer {   height: 500px !important;  }


body { background: #f8f8f8}

.mega-menu-content a:hover h3 { color: #3096ff !important;    }
.mega-menu-content a:hover   {   text-decoration: none !important }
.mega-menu-content a:hover img   {  border: 5px solid #3096ff; padding: 1px;  }

.cbp-filter-item-active { border-bottom: 2px solid #3096ff;   }

h3.heading-sm a { color: #333 }
h3.heading-sm a:hover { color: #3096ff; text-decoration: none }

.txtdata {  font-size: 16px; color: #000 !important;  font-weight: bold;    }
.txttermino {  font-size: 11px;  text-transform: uppercase;   padding: 5px !important; margin: 0px !important; line-height: 5px; display:block          }
h3.title-v4 {    text-transform: capitalize !important; font-size: 1em }
.txtactividad { text-transform: uppercase; font-size: 13px; color: #333 !important;  float: center    }
.txtactividades {  font-size: 13px; color: #333 !important;  float: center    }
.txtilles { text-transform: uppercase; font-size: 13px; color: #333 !important;  float: center    }
.idrecurso { text-transform: uppercase; font-size: 13px; color: #333 !important; display:block; padding-bottom: 10px  }
.idlangs {  text-transform: uppercase;  font-size: 13px; color: #333; display: block  }
.txtmunicipi { font-size: 13px; color: #333 !important; padding-left:5px;   float: center }
h3.txttitle {  line-height: 20px; font-size: 18px !important; padding-top: 10px;  display:block; clear:both;  font-weight: bold  }
a.txttitle {  line-height: 20px; font-size: 18px !important; padding-top: 10px;  display:block; clear:both;  font-weight: bold; color: #000  }

.t2 {  font-size: 11px;  text-transform: uppercase;   line-height: 5px;          }

.txtcenter { width: 100%; text-align:center }

.btn-more {text-transform: uppercase !important; font-size: 12px; border: none; font-weight: normal !important; background: #FFF }

a:hover i.icon-bg-u {
    background: #3096ff none repeat scroll 0 0;
}


.bg-color-normal { background:#fff; min-height: 160px; border: 1px solid #ccc; padding-top: 20px }
.bg-color-normal a { font-weight: bold; color: #000 !important }

.bg-color-normal .btn-more {text-transform: uppercase !important; font-size: 12px; border: none; font-weight: normal !important; background: #FFF; color: #000 !important }



 /* accesos footer */

.accesos { background: #122632; padding-top: 30px }
a .title-v3-md  { color: #fff }
.dn { display: none !important }

 /* filtros recomendados */
.cbp-filter-item { color: #3096ff !important; border: 1px solid #3096ff; margin-right: 10px !important;  border-radius: 8px;  }
.cbp-filter-item:hover { background:  #3096ff; color: #fff !important }
.activo { background:  #3096ff; color: #fff !important }
.cbp-filter-item-activo { color: #3096ff !important; border: 1px solid #3096ff; margin-right: 10px !important;  border-radius: 8px;  }



.dn1 { display: none !important  }

.cbp-l-filters-text1 {
  margin-bottom: 30px;
  text-align: center;
  font: 400 12px/21px "Roboto", sans-serif;
  color: #fff;
  padding: 0 15px; }

.cbp-l-filters-text1 .cbp-filter-item1 {
  color: #fff;
  cursor: pointer;
  font: 400 13px/21px "Roboto", sans-serif;
  padding: 0 12px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  position: relative;
  overflow: visible;
  margin: 0 0 10px;
  display: inline-block; border: 1px solid #fff; margin-right: 10px; text-transform: uppercase }

.cbp-l-filters-text1 .cbp-filter-item1:hover {
  color: #fff; }

.cbp-l-filters-text1 .cbp-filter-item1-active {
  background-color: #fff;
  cursor: pointer;
  font: 400 13px/21px "Roboto", sans-serif;
  padding: 0 12px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  position: relative;
  overflow: visible;
  margin: 0 0 10px;
  display: inline-block; border: 1px solid #fff; margin-right: 10px; color: #3096ff !important;  text-transform: uppercase
    }

li.listfn1 {   color: #fff;   padding-left: 0px  }
li.listfn2 {   color: #fff;   padding-left: 10px  }

.input-icon{
  position: absolute;
  right: 10px;
  top: calc(50% - 0.5em); /* Keep icon in center of input, regardless of the input height */
  cursor: pointer;

}
input{
  padding-left: 10px; width: 100%
}
.input-wrapper{
  position: relative;

}

.input-wrapper > input {outline: none;-moz-appearance:none;-webkit-appearance:none;-o-appearance:none;/* border: 1px solid #ccc; */background-color: transparent;}



.vfiles { padding-top: 0px;   font-size: 0.85em; color: #333 }
.vfiles a { margin-right: 10px; color:#333 }
.vfiles i { margin-right: 10px; color: #084D6E }
.vfiles > .lma { padding: 10px; padding-left:40px; padding-bottom: 20px }
.vfiles > .lme { padding: 10px; padding-left:40px; padding-bottom: 20px }
.vfiles > .lib { padding: 10px; padding-left:40px; padding-bottom: 20px }
.vfiles > .lfo { padding: 10px; padding-left:40px; padding-bottom: 20px }

.infofile .idlangs { color: #FFF; padding-top: 5px }
.infofile span > i { font-size: 0.85em; margin-left: 10px  }

/* buscador */
#map {
        height: 100%; height: 400px
      }
	   .firstHeading {  font-size: 16px; line-height: 18px}












		#content,
		#sidebar {
			min-height: 500px;
		}
		#row-main {
			overflow-x: hidden; /* necessary to hide collapsed sidebar */
		}
		#content {


			-webkit-transition: width 0.3s ease;
			-moz-transition: width 0.3s ease;
			-o-transition: width 0.3s ease;
			transition: width 0.3s ease;
			background: #FFF;  padding-top: 15px; padding-bottom: 20px
		}
		#content .btn-group {
			margin-bottom: 10px;
		}
		.col-md-9 .width-12,
		.col-md-12 .width-9 {
			display: none; /* just hiding labels for demo purposes */
		}
		#sidebar {


			-webkit-transition: margin 0.3s ease;
			-moz-transition: margin 0.3s ease;
			-o-transition: margin 0.3s ease;
			transition: margin 0.3s ease; padding: 20px
		}
		.sinma { margin-left: 0px; padding-left: 0px }
		.list-options > li > label { font-weight: normal !important; font-size: 14px; }
		#sidebar > h3 { margin-left: -15px; padding-left: 0px; font-size: 16px; font-weight: bold }
		.collapsed {
			display: none; /* hide it for small displays */
		}
		@media (min-width: 992px) {
			.collapsed {
				display: block;
			/*	margin-left: -25%; */ /* same width as sidebar */
			}
		}





/* /assets/css/flatWeatherPlugin.css */
.flatWeatherPlugin .wiToday .wiIconGroup div.wi {
	margin-left: 0px;
	margin-top: -3px;
}

.flatWeatherPlugin .wiToday > .wiIconGroup {
	width: 46%;
	text-align: left;
}

/* /assets/css/header.css */

.header-v8 .navbar-brand img {
	margin-right: -25px;
	margin-left: -25px;
}

@media (min-width: 991px) and (max-width: 1200px) {

	/*.header-v8 .navbar-brand {     max-height: 75px; }*/
	.header-v8 .navbar-nav > li > a { padding-left: 5px !important; padding-right: 5px !important }
}




/* /assets/css/app.css */

.btn-u{
	margin-right: 2px;
  margin-left: 0px;
  background: none;
}

.btn-u:hover,
.btn-u:focus,
.btn-u:active,
.btn-u.active {background: none;}


h1.title-v2 {
    color: #000;
	  position: relative; font-weight: bold;
	  line-height: 30px;
	  padding-bottom: 15px;
	  padding-right: 2px;
    font-size: 24px;
	  line-height: 20px;
}

h1.title {
  font-weight: bold;
}


h1.title-vt {
	/* color: #72C033; */
	margin-bottom: 0px;
	padding-bottom: 10px;
	line-height: 10px;
	font-weight: bold;
	font-size: 32px;
  text-transform: uppercase;

}

h2.title-v2 {
	  line-height: 30px;
	  padding-bottom: 0px !important;
	  padding-right: 2px;
}


h2.title-vt {
 padding-bottom: 10px;
}



h2.title-v3 {
	color: #000;
	position: relative;
	font-weight: bold;
	padding-right: 0px;
	line-height: 25px;
	padding-top: 3px;
	padding-bottom: 10px;
	font-size: 20px;
	padding-right: 0px;
}

h3.title-v2 {
	padding-right: 0px;
}

.bfo  {  height: 30px;}
.bma  {  height: 30px;}
.bme  {  height: 30px;}
.bib  {  height: 30px;}

.btn-u  {background: none;}

.btn-u.btn-u-white:hover,
.btn-u.btn-u-white:focus,
.btn-u.btn-u-white:active,
.btn-u.btn-u-white.active,
.open .dropdown-toggle.btn-u.btn-u-white {
	background: #fff;
	color: black;
}




/* /assets/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.css */

.cbp-caption-overlayBottomPush .cbp-caption-activeWrap {
	bottom: -80px;
	height: auto;
}

.ts4 { text-align: left !important }


/* /assets/css/header.css */
.header-v8 .navbar-nav > li > a {
	font-size: 14px;
}

.header-v8 .mega-menu .mega-menu-fullwidth .dropdown-menu li h2 {
	font-size: 14px !important;
}

.header-v8 .mega-menu .mega-menu-fullwidth .dropdown-menu li span {
	color: #333;
	margin: 0 0 5px;
	font-size: 14px !important;
	font-weight: 400;
	text-transform: uppercase; border-bottom: 1px solid #333; margin-top: 10px; line-height: 20px; font-weight: bold; display: block
}




@media (max-width: 991px) {

  .header-v8 .mega-menu .mega-menu-fullwidth .dropdown-menu li span {
  font-size: 13px;
  padding-left: 10px;
  }
}


/* /assets/css/blocks.css */

.breadcrumb {
  font-size: 14px;
}


.news-v3 p {
  margin-bottom: 5px;
}

.news-v3 h3.title-v2 {padding-top: 0px;padding-bottom: 0px;margin-top: 0px;margin-bottom: 0px;}



span.btn-more {
  font-size: 14px !important;
   border: none !important; padding-top: 5px !important;
}



.tn0 {    margin-bottom:8px !important;}


input.form-control, select.form-control {font-weight: bold;}

.disabled {text-decoration: line-through;}
.hidden {visibility: hidden}
.filterbar {padding-top: 0px !important;padding-left: 0px !important;}
.filterslist {margin: 0px;padding: 0px;}
.noborder {border: none !important}
.mapcluster {height: 800px !important; position: relative !important; overflow: hidden !important;}





/* Tematicas Colors */

/* Amarillo  */
  .tags-yellows { margin-left: 0px; margin-bottom: 10px;     border-radius: 20px !important; border: 1px solid #f1c40f;
    color: #333; background: #fff; margin-right: 2px;     cursor: pointer; font-weight: 400; position: relative;     padding: 3px 12px; font-size: 12px
  }
  .tags-yellows:hover,.tags-yellows:active,.tags-yellows-activo  {
    border: 1px solid #f1c40f; background: #f1c40f;
    color: black;
    font-weight: bold;
  }

  /* Naranja  */
  .tags-orange { margin-left: 0px; margin-bottom: 10px;     border-radius: 20px !important; border: 1px solid #e67e22;
    color: #333; background: #fff; margin-right: 2px;     cursor: pointer; font-weight: 400; position: relative;     padding: 3px 12px; font-size: 12px
  }
  .tags-orange:hover,.tags-orange:active,.tags-orange:visited,.tags-orange-activo  {
    border: 1px solid #e67e22;  background: #e67e22;
    color: black;
    font-weight: bold;
  }

  /* Rojo */
  .tags-red { margin-left: 0px; margin-bottom: 10px;     border-radius: 20px !important; border: 1px solid #e74c3c;
    color: #333; background: #fff; margin-right: 2px;     cursor: pointer; font-weight: 400; position: relative;     padding: 3px 12px; font-size: 12px
  }
  .tags-red:hover,.tags-red:active,.tags-red:visited,.tags-red-activo  {
    border: 1px solid #e74c3c; background: #e74c3c;
    color: black;
    font-weight: bold;
  }

    /* Verde */
  .tags-green { margin-left: 0px; margin-bottom: 10px;     border-radius: 20px !important; border: 1px solid #2ecc71;
    color: #333; background: #fff; margin-right: 2px;     cursor: pointer; font-weight: 400; position: relative;     padding: 3px 12px; font-size: 12px
  }
  .tags-green:hover,.tags-green:active,.tags-green-activo  {
    border: 1px solid #2ecc71; background: #2ecc71;
    color: black;
    font-weight: bold;
  }

     /* Azul */
  .tags-blue { margin-left: 0px; margin-bottom: 10px;     border-radius: 20px !important; border: 1px solid #3498DA;
    color: #333; background: #fff; margin-right: 2px;     cursor: pointer; font-weight: 400; position: relative;     padding: 3px 12px; font-size: 12px
  }
  .tags-blue:hover,.tags-blue:active,.tags-blue-activo  {
    border: 1px solid #3498DA;  background: #3498DA;
    color: black;
    font-weight: bold;
  }


     /* Violeta */
  .tags-purple { margin-left: 0px; margin-bottom: 10px;     border-radius: 20px !important; border: 1px solid #9b6bcc;
    color: #333; background: #fff; margin-right: 2px;     cursor: pointer; font-weight: 400; position: relative;     padding: 3px 12px; font-size: 12px
  }
  .tags-purple:hover,.tags-purple:active,.tags-purple-activo  {
    border: 1px solid #9b6bcc;  background: #9b6bcc;
    color: black;
    font-weight: bold;
  }

    /* Rosa */
  .tags-pink { margin-left: 0px; margin-bottom: 10px;     border-radius: 20px !important; border: 1px solid #ff60c9;
    color: #333; background: #fff; margin-right: 2px;     cursor: pointer; font-weight: 400; position: relative;     padding: 3px 12px; font-size: 12px
  }
  .tags-pink:hover,.tags-pink:active,.tags-pink-activo  {
    border: 1px solid #ff60c9; background: #ff60c9;
    color: black;
    font-weight: bold;
  }

    /* Gris */
  .tags-grey { margin-left: 0px; margin-bottom: 10px;     border-radius: 20px !important; border: 1px solid #95a5a6;
    color: #333; background: #fff; margin-right: 2px;     cursor: pointer; font-weight: 400; position: relative;     padding: 3px 12px; font-size: 12px
  }
  .tags-grey:hover,.tags-grey:active,.tags-grey-activo  {
    border: 1px solid #95a5a6; color: #fff; background: #95a5a6;
    color: black;
    font-weight: bold;
  }

   /* Marengo */
  .tags-temporada { margin-left: 0px; margin-bottom: 10px;     border-radius: 20px !important; border: 1px solid #555555;
    color: #333; background: #fff; margin-right: 2px;     cursor: pointer; font-weight: 400; position: relative;     padding: 3px 12px; font-size: 12px
  }
  .tags-temporada:hover,.tags-temporada:active,.tags-temporada-activo  {
    border: 1px solid #555555; color: #fff; background: #555555;
  }


  /* leaflet.css */

.leaflet-top,
.leaflet-bottom {    z-index: 0 !important;}

.boxre {/* border-top: 1px solid #ccc; */background: #fff;padding-top: 40px;padding-bottom: 10px;min-height: 140px;padding-bottom: 20px;margin-bottom: -20px;}


/* /assets/css/flatWeatherPlugin.css */


.ic { border: 1px solid #ccc; background: #f3f3f3; padding: 5px; overflow:auto; padding-left: 7px; padding-right: 7px; margin-top: 10px }
.ic1 { float:left; width: 25px; height:10px; background: #ff2030; border: 1px solid #FFF; opacity:0.2; }
.ic2 { float:left; width: 25px; height:10px; background: #ff6a07; border: 1px solid #FFF ; opacity:0.2;}
.ic3 { float:left; width: 25px; height:10px; background: #e0ff11; border: 1px solid #FFF ; opacity:0.2;}
.ic4 { float:left; width: 25px; height:10px; background: #00ff00; border: 1px solid #FFF ; opacity:0.2;}
.ic5 { float:left; width: 25px; height:10px; background: #00afff; border: 1px solid #FFF; opacity:0.2; }
.ic6 { float:left; width: 25px; height:10px; background: #6f00ff; border: 1px solid #FFF; opacity:0.2; }
.ic7 { float:left; width: 25px; height:10px; background: #ff00f1; border: 1px solid #FFF ; opacity:0.2;}


.ic1activo {
	animation-name: ic1anim;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
  border: 1px solid #ccc;    opacity:1; margin-left:1px; margin-right: 1px; float:left; width: 25px; height:10px;

}

@keyframes ic1anim {
	to {
	background-color: #ff2030;

	}
}
@keyframes ic1anim-half {
	50% {
		background-color: #ff2030;

	}
}

.ic2activo {
	animation-name: ic2anim;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
 border: 1px solid #ccc;    opacity:1; margin-left:1px; margin-right: 1px; float:left; width: 25px; height:10px;

}

@keyframes ic2anim {
	to {
	background-color: #ff6a07;

	}
}
@keyframes ic2anim-half {
	50% {
		background-color: #ff6a07;

	}
}

.ic3activo {
	animation-name: ic3anim;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
 border: 1px solid #ccc;    opacity:1; margin-left:1px; margin-right: 1px; float:left; width: 25px; height:10px;

}

@keyframes ic3anim {
	to {
	background-color: #e0ff11;

	}
}
@keyframes ic3anim-half {
	50% {
		background-color: #e0ff11;

	}
}

.ic4activo {
	animation-name: ic4anim;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
 border: 1px solid #ccc;    opacity:1; margin-left:1px; margin-right: 1px; float:left; width: 25px; height:10px;

}

@keyframes ic4anim {
	to {
	background-color: #00ff00;

	}
}
@keyframes ic4anim-half {
	50% {
		background-color: #00ff00;

	}
}

.ic5activo {
	animation-name: ic5anim;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
 border: 1px solid #ccc;    opacity:1; margin-left:1px; margin-right: 1px; float:left; width: 25px; height:10px;

}

@keyframes ic5anim {
	to {
	background-color: #00afff;

	}
}
@keyframes ic5anim-half {
	50% {
		background-color: #00afff;

	}
}


.ic6activo {
	animation-name: ic6anim;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
 border: 1px solid #ccc;    opacity:1; margin-left:1px; margin-right: 1px; float:left; width: 25px; height:10px;

}

@keyframes ic6anim {
	to {
	background-color: #6f00ff;

	}
}
@keyframes ic6anim-half {
	50% {
		background-color: #6f00ff;

	}
}

.ic7 { float:left; width: 25px; height:10px; background: #ff00f1; border: 1px solid #FFF ; opacity:0.2;}


.ic7activo {
	animation-name: ic7anim;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
 border: 1px solid #ccc;    opacity:1; margin-left:1px; margin-right: 1px; float:left; width: 25px; height:10px;

}

@keyframes ic7anim {
	to {
	background-color: #ff00f1;

	}
}
@keyframes ic7anim-half {
	50% {
		background-color: #ff00f1;

	}
}

.margin-right-0 { margin-right: 0px;  }
.margin-left-0 { margin-left: 0px;  }
.bold { font-weight: bold   }


a.masfechas { font-size: 12px !important; color: #000 !important; display: block }


a.color-light { color: #333 }
a.color-light:hover { color: #3096ff; text-decoration: none }


.checkb {/* float: left; */padding-right: 5px;width: 5%;margin: 0px !important;}

.form-newsletter {width: 100%;}

.btn-u-green {
background: #72c02c;
}

mark,
.mark {
  background-color: #fcf8e3;
  padding: 0;
}


.cbp-l-caption-desc { color: #ddd  !important}


/*

  * WAI Customization *

*/

.erinyen .tp-tab-title {
    background-color: #132732 !important;
    padding: 0.25em !important;
}

.erinyen .tp-tab-desc {
  background-color: #132732 !important;
  padding: 0.25em !important;

}


.erinyen .tp-tab-title:hover {
    background-color: #3096ff !important;
}

.erinyen .tp-tab-desc:hover {
  background-color: #3096ff !important;
}


.tp-caption.Newspaper-Button,.Newspaper-Button
{
  background-color: #132732 !important;
}

.tp-caption.Newspaper-Subtitle,
.Newspaper-Subtitle {
  color: rgba(255, 255, 255, 1.00);
  background-color: #3096ff !important;
  padding: 0.25em !important;
  font-size: larger !important;
}



.tp-caption.Newspaper-Title,
.Newspaper-Title {
    color: rgba(255, 255, 255, 1.00);
    background-color: #3096ff !important;
    padding: 0.25em !important;
}

.txtilles, .txtmunicipi {
  font-weight: bold;
}

.shop-subscribe h2 {
  color: #132732;
  font-weight: bold;
}

.shop-subscribe input {
  border-color: #132732;
}



/*Input Form Control*/
.shop-subscribe input {
  border-color: #132732;
}

.shop-subscribe .form-control {
  color: #132732;
  font-weight: bold;
}

.shop-subscribe .form-control:focus {
  border-color: #132732;
}

.shop-subscribe .form-control::-moz-placeholder {
  color: #132732;
}
.shop-subscribe .form-control:-ms-input-placeholder {
  color: #132732;
}
.shop-subscribe .form-control::-webkit-input-placeholder {
  color: #132732;
}

.shop-subscribe .input-group-btn {
  border-color: #132732;
}

.shop-subscribe .input-group-btn .btn {
  border: 1px solid #132732;
}

.shop-subscribe .input-group-btn i {
  color: #132732;
}


li.ffo a, li.fma a, li.fme a, li.fib a  {background-color: #293841;}

.bl {
  margin-bottom: 20px !important;
}
