
/*Import Global Compulsory CSS Files*/
@import url(header.css);
@import url(footer.css);
@import url(app.css);
@import url(blocks.css);

* {
 border-radius: 0;
}

body {
color: #333;
font-size: 16px;
line-height: 1.6; background: #f4f4f4
}

body.header-fixed-space {
 padding-top: 94px;
}
body.header-fixed-space-v2 {
 padding-top: 135px;
}

@media (max-width: 991px) {
 body.header-fixed-space,
 body.header-fixed-space-v2 {
   padding-top: 0;
 }
}

p,
li,
li a,
label {
color: #555;
}

a {
color:  #3096ff;
text-decoration: none;
}

a,
a:focus,
a:hover,
a:active,
button,
button:hover {
 outline: 0 !important;
}

a:focus {
text-decoration: none;
}
a:hover {
color:  #3096ff;
text-decoration: underline;
}

/*Boxed Layout
------------------------------------*/
.boxed-layout {
 padding: 0;
 box-shadow: 0 0 5px #ccc;
 margin-left: auto !important;
 margin-right: auto !important;
 background: url(../img/patterns/15.png) repeat;
}

/*Hiding arrows for select field in IE*/
select::-ms-expand {
 display: none;
}

/* Filtros buscador avanzado */

[data-accordion] [data-content] {
   overflow: hidden;
   max-height: 0;
}

/* Basic Theme */

[data-accordion] {
   line-height: 1;
}

[data-control],
[data-content] > * {

   padding: 10px;
}

[data-content] [data-accordion] {
   border: 0;
   padding: 0;
}

[data-accordion] [data-control] {
   position: relative;
   padding-right: 40px;
}

[data-accordion] > [data-control]:after {
   content: "";
   position: absolute;
   right: 10px;
   top: 12px;
   font-size: 25px;
   font-weight: 200;
   color: #444;
   height: 15px;
   width: 24px;
   background: url('../images/down.png') center center no-repeat;
   background-size: 50%;
}

[data-accordion].open > [data-control]:after {
   -webkit-transform: rotate(-180deg);
   -ms-transform: rotate(-180deg);
   transform: rotate(-180deg);
}


[data-accordion] [data-content] {
   background: #FFF; font-size: 12px;
}

[data-accordion] [data-content] [data-content] {
   background: #FFF;
}

[data-accordion] [data-content] [data-content] [data-content] {
   background: #FFF;
}

[data-accordion] [data-content] [data-content] [data-content]  >  article {
padding-left: 20px
}
button.acordeon {
   margin: 0;
   padding: 0;
   background: inherit;
   border: inherit;
   font: inherit;
   outline: none;
   width: 100%;
   display: block;
   text-align: left;
   color: inherit; background: #FFF; border-bottom: 1px solid #ccc; padding: 10px;
}

.checka { float: left; padding-right: 5px; width: 8%; margin: 0px !important;  }
span.isma {   background: url(../images/mallorca.png) no-repeat top left; background-size:cover;
   height: 25px;   width: 25px;   float: right }
span.isme {   background: url(../images/menorca.png) no-repeat top left; background-size:cover;
   height: 25px;  width: 25px;   float: right }
  span.isib {   background: url(../images/ibiza.png) no-repeat top left; background-size:cover;
   height: 25px;   width: 25px;   float: right }
  span.isfo {   background: url(../images/formentera.png) no-repeat top left; background-size:cover;
   height: 25px;   width: 25px;   float: right }

 .grupoterminos label { font-weight: normal; padding-left: 20px; font-size: 12px;  display: block   }
.grupoterminos label span.badge { font-size: 10px }
.grupoterminos label input { width: auto !important; border: 1px solid #ccc }
div.checkbox { border-bottom: 1px solid #ccc;  font-size: 12px}
div.checkbox label { display: block }


.btn-grey { color: #FFF}
.btn-grey:hover { color: #FFF}

.titulo { text-transform: uppercase !important; font-size: 13px; font-weight: bold }
.inbd { border-bottom: 1px solid #ccc; border-top: 1px solid #FFF; border-right: 1px solid #FFF; border-left: 1px solid #FFF}

#map2 { min-height: 800px }
